body {
    background-color: #005391;
}

.container {
    margin-top: 20px;
}

#header-text {
    color: rgba(255, 94, 25, 1);
    font-family: Berkshire Swash;
    /* font-size: 76px;
    font-weight: 400;
    line-height: 94px; */
    letter-spacing: 0em;
    text-align: center;

}

#ball {
    height: 50px;
    width: 50px;
}

.card {
    color: white;
    background-color: black;
}

.player {
    color: rgba(255, 94, 25, 1);
}

#btnCancle {
    display: none;
}